@font-face{
  font-family: 'nidsans';
  src: url('../nidsans-webfont.ttf') format("truetype");;
} 

*{
  margin: 0;
  text-rendering: optimizeLegibility;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nidsans',sans-serif;
  color: #0abdc6;
}

html{
  font-size: 20px;
  background-color:#133e7c;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../images/axiom-pattern.png");
}



